section.form-footer
  .form-footer__content
    fieldset.draft.question
    .main-controls
      a.previous-page.disabled(href="#")= t('form.pages.back')
      if type === 'preview'
        button#validate-form.btn.btn-primary.hide
          i.icon.icon-check
          |  Validate
      else
        button#submit-form.btn.btn-primary.hide
          i.icon.icon-check
          |  Submit
      a.btn.btn-primary.next-page(href="#")= t('form.pages.next')

    if logout
      include _logout
    include _enketo-power

    a.btn.btn-default.disabled.first-page(href="#")= t('form.pages.return')
    a.btn.btn-default.disabled.last-page(href="#")= t('form.pages.end')

