header.form-header
  .offline-enabled
  .form-progress
  a.branding(href="#")
    .logo-wrapper
      img(src="/images/logo.png", alt="logo")
  button.print(onclick="return false;").hide
  span.form-language-selector.hide: span Choose Language
