header.form-header
  .offline-enabled
  .form-progress
  a.branding(href="#{logo.href || '#'}")
    .logo-wrapper
      img(src="#{logo.source}", alt="logo")
  button.form-header__button--print(onclick="return false;").hide
  span.form-language-selector.hide: span= t('form.chooseLanguage')
