[submodule "public/lib/enketo-core"]
	path = public/lib/enketo-core
	url = https://github.com/MartijnR/enketo-core.git
[submodule "public/lib/enketo-xslt"]
	path = public/lib/enketo-xslt
	url = https://github.com/MartijnR/enketo-xslt.git
