.vagrant
.scratchpad
.nodemon-*
.DS_Store
.env
*.sublime-project
*.sublime-workspace
*.diff
node_modules
public/css/*.css
**/build/*
translation_old.json
app/views/styles/component/_widgets.scss
app/views/styles/component/_system_variables.scss
config/config.json
enketo-main.rdb
setup/docker/secrets/*
setup/docker/redis_main_data/*
logs/submissions*
logs/logrotate