*.sublime-project
*.sublime-workspace
node_modules
public/js/*.min.js
public/js/*-bundle.js
public/js/widgets.js
public/css/*.css
public/lib/enketo-core
public/lib/bower-components
app/views/styles/component/_widgets.scss
locales/*/translation-combined.json
config/config.json
.rebooted
.vagrant
.scratchpad
.nodemon-*
.DS_Store
.env
enketo-main.rdb
setup/docker/secrets/*
setup/docker/redis_main_data/*
logs/submissions*
logs/logrotate
public/temp-client-config.json
app/views/styles/component/_system_variables.scss
