*.sublime-project
*.sublime-workspace
node_modules
public/js/*.min.js
public/css/*.css
public/lib/enketo-core
public/lib/martijnr-foundation
public/lib/bower-components
locales/en/translation_old.json
.rebooted
.vagrant
.scratchpad
