@import "bootstrap";
@import "iframe";
@import "modal";
@import "feedback-bar";

//@import "ad";

body {
    background: $body-bg no-repeat;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    overflow-x: hidden;
}

.main {
    @include transition-fast;
}

progress {
    display: block;
    margin: 10px auto;
}

.preview progress {
    margin: 80px auto;
}

.paper {
    border: 7px solid $content_border;
}

.form__loader {
    @include loader-image(250px);
    margin: 170px auto 0 auto;
    &.fail {
        background: none;
    }
}

.page-break {
    display: none;
}

//inside the submissions dialog
.submissions {
    background-color: #ccc;
    font-size: 11px;
    padding: 10px;
}

.log {
    word-break: break-all;
}
