@import "bootstrap";
@import "iframe";
@import "modal";
@import "feedback-bar";
//@import "ad";

body {
    background: $body-bg no-repeat;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    overflow-x: hidden;
}

.main {
    @include transition-fast;
}

progress {
    display: block;
    margin: 10px auto;
}

.preview progress {
    margin: 80px auto;
}

.paper {
    border: 7px solid $content_border;
}

.formlist {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            margin: 10px 0;
        }
    }
    img {
        display: none;
    }
    &.empty {
        img {
            width: 80%;
            display: block;
            margin: 40% auto;
        }
        p:not(.alert-error) {
            display: none;
        }
    }
}

.hint {
    display: inline-block;
    margin-left: 5px;
}

.self-destruct-timer {
    float: left;
    margin-top: 5px;
    color: $shadow;
}

.page-break {
    display: none;
}

//inside the submissions dialog
.submissions {
    background-color: #ccc;
    font-size: 11px;
    padding: 10px;
}

.log {
    word-break: break-all;
}
