$baseFontSize: 16px;
$baseLineHeight: 20px;

$bg: #ddd;
$body-bg: #f0f0f0;
$shadow: #cccccc;
//$title: #CE4F07;
$accent-color-1: #CE4F07;
$content_border: #E7E7E7;

$max-content-width: 720px;
$main-breakpoint: $max-content-width;

$images-path: '../../media/';
$icon-font-path: '../../lib/enketo-core/lib/bootstrap-sass/fonts/';
