@font-face {
    font-family: 'OpenSansRegular';
    src: url("/fonts/OpenSans-Regular-webfont.woff") format("woff"), 
        url("/fonts/OpenSans-Regular-webfont.ttf") format("truetype"), 
        url("/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url("/fonts/OpenSans-Bold-webfont.woff") format("woff"), 
        url("/fonts/OpenSans-Bold-webfont.ttf") format("truetype"), 
        url("/fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
