extends ../layout

block content

  h1= t("page.modernbrowsers.heading")
  p= t("page.modernbrowsers.msg1") 
  p= t("page.modernbrowsers.msg2")         
    ul
      li: a(href="https://www.mozilla.com/",title="Firefox download page") Firefox
      li: a(href="https://www.google.com/chrome/",title="Chrome download page") Chrome
      li: a(href="https://www.microsoft.com/edge", title="Edge download page") Edge 
      li: a(href="https://www.opera.com/", title="Opera download page") Opera
  // keep translations for now
  // h2= t("page.modernbrowsers.ie.heading")
  // p= t("page.modernbrowsers.ie.msg")
