@import 'component/variables';
@import '../../../node_modules/enketo-core/src/sass/core/fonts';
@import 'component/fonts';
@import '../../../node_modules/enketo-core/src/sass/core/variables';
@import '../../../node_modules/enketo-core/src/sass/core/mixins';
@import '../../../node_modules/enketo-core/src/sass/formhub/mixins';

body {
    @include font-normal;
}

.error {
    margin: 40px 20px 20px 20px;
    padding: 20px;
    border: 1px solid #f2616d;
    position: relative;
    font-weight: normal;
    min-height: 100px;
    .status-code {
        position: absolute;
        right: 0;
        bottom: 0;
        font-weight: normal;
        font-size: 10px;
        margin: 3px;
    }
    + .error {
        border-top: 0;
        margin-top: 0;
    }
}
