[Unit]
Description=Redis cache

[Service]
Type=simple
User=redis
Group=redis
PrivateTmp=true
PIDFile=/var/run/redis/enketo-cache.pid
ExecStartPre=echo "Starting Redis main"
ExecStart=/usr/bin/redis-server /etc/redis/enketo-cache.conf
ExecStartPost=redis-cli -p 6379 ping
Restart=on-failure

[Install]
WantedBy=multi-user.target
