[Unit]
Description=Redis cache

[Service]
Type=forking
User=redis
Group=redis
PrivateTmp=true
PIDFile=/var/run/redis/enketo-cache.pid
ExecStartPre=echo "Starting Redis main"
ExecStart=/usr/bin/redis-server /etc/redis/enketo-cache.conf --supervised no
ExecStartPost=redis-cli -p 6380 ping
ExecStop=/usr/bin/redis-cli -p 6380 shutdown
Restart=always

[Install]
WantedBy=multi-user.target
