[Unit]
Description=Redis
After=network.target
PartOf=redis.target

[Service]
Type=simple
User=redis
Group=redis
PrivateTmp=true
PIDFile=/var/run/redis/enketo-cache.pid
ExecStart=/usr/bin/redis-server /etc/redis/enketo-cache.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target redis.target
