@import "iframe";
@import "modal";
@import "alert";
@import "feedback-bar";

html {
    // For some reason a height of 100% causes the body to not extend to the bottom
    // of the form. Setting height to auto fixes this.
    // Both enketo-core and foundation set this to 100%, which is the common approach.
    height: auto;
}

body {
    background: $body-bg no-repeat;
    font-size: $font-size-base;
    line-height: $line-height-base;
    overflow-x: hidden;
    margin: 0;
}

.main {
    @include transition-fast;
}

progress {
    display: block;
    margin: 10px auto;
}

.preview progress {
    margin: 80px auto;
}

.form__loader {
    @include loader-image(250px);
    margin: 170px auto 0 auto;
    &.fail {
        background: none;
    }
}

.loader-animation-small {
    @include loader-image(50px);
}

.page-break {
    display: none;
}

.log {
    word-break: break-all;
}
