@import "foundation";
@import "iframe";
@import "modal";
@import "alert";
@import "feedback-bar";

body {
    background: $body-bg no-repeat;
    font-size: $base-font-size;
    line-height: $base-line-height;
    overflow-x: hidden;
}

.main {
    @include transition-fast;
}

progress {
    display: block;
    margin: 10px auto;
}

.preview progress {
    margin: 80px auto;
}

.form__loader {
    @include loader-image(250px);
    margin: 170px auto 0 auto;
    &.fail {
        background: none;
    }
}

.loader-animation-small {
    @include loader-image(50px);
}

.page-break {
    display: none;
}

.log {
    word-break: break-all;
}
