.fieldsubmission-status {
    order: 15;
    color: #555;
    font-size: 12px;
    padding-right: 10px;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.error, &.fail {
        color: $state-danger-text;
    }
}

.form-footer__feedback.fieldsubmission-status {
    margin: 10px auto;
    text-align: center;
    max-width: 100%;
}

// Watch out, this targeting is deliberate
.form-header .form-header__button--reason {
    order: 60;
    margin: 0 0 0 20px;
    outline: 0;

    .icon {
        font-size: 30px;
        color: black;
    }
}

// Show Close button on every page
.pages ~ .form-footer .btn#close-form {
    display: inline-block;
}

@media screen and (max-width: 410px) {
    .fieldsubmission-status {
        order: 65;
        max-width: 100%;
        width: 100%;
        margin-top: 16px;
    }
}

@media screen and (max-width: $main-breakpoint) {
    .form-header {
        // Watch out, this targeting is deliberate
        .form-header__button--reason {
            margin-top: 16px;
        }
    }
}
