@import '../../../lib/font-awesome/scss/font-awesome';

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
