@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-footer__content__main-controls,
    .main,
    .main .paper,
    .paper > form {
        // bugfix for display:flex with parent min-height
        // see: http://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/
        -ms-flex-basis: auto;
        // IE11 requires non-prefixed
        flex-basis: auto;
        -ms-flex-shrink: 0;
        // IE11 requires non-prefixed
        flex-shrink: 0;
    }
    .form__loader {
        min-height: 200px;
    }
}
