@import "../../../../node_modules/vex-js/sass/vex";
@import "../../../../node_modules/vex-js/sass/vex-theme-plain";

.vex.vex.vex-theme-plain {
    h3 {
        margin-top: 10px;
        color: $text-color;
    }
    .vex-content {
        width: 550px;
        border: 4px solid #ccc;
        border-radius: 4px;
    }
    .vex-dialog-button {
        @extend .btn;
        margin-top: 20px !important;
        margin-left: 30px !important;
        margin-bottom: 0 !important;
    }
    .vex-auto-close-timer {
        position: absolute;
        bottom: 12px;
        color: $text-muted;
    }
    .vex-dialog-input input[type=text] {
        @extend .form-control[type=text];
    }
    .vex-dialog-input input[type=checkbox],
    .vex-dialog-input input[type=radio] {
        margin-right: 10px;
    }
    .or-hint.active {
        margin-bottom: 10px;
    }
}

.vex.vex-theme-plain .vex-dialog-input {
    input {
        @extend .form-control;
    }
    fieldset {
        margin: 20px 0;
    }
    legend {
        @include font-bold;
        font-size: 16px;
        margin-bottom: 10px;
        ~ label {
            display: inline-block;
            width: auto;
            font-weight: normal;
            input[type=radio] {
                width: auto;
                display: inline-block;
                height: auto;
                margin-left: 10px;
            }
            &:hover {
                background: none;
            }
            + label {
                margin-left: 20px;
            }
        }
    }
}
