.modal {
    @extend .reveal-modal;
    h3 {
        padding: 0 0 0 0;
        margin-top: 10px;
        color: $text-color;
    }
    &__header {
        margin-right: 20px;
    }
    &__body {
        margin-top: 40px;
    }
    &__footer {
        margin-top: 40px;
        position: relative;
        height: 50px;
        .btn {
            float: right;
            margin-bottom: 0;
            margin-left: 30px;
        }
        .self-destruct-timer {
            position: absolute;
            bottom: 0;
            color: $text-muted;
        }
    }
}


.alert-box {}

/*.alert {
    em {
        color: #666;
    }
    strong {
        color: black;
        font-size: 110%;
        text-decoration: none;
    }
    a {
        text-decoration: underline;
    }
}*/

/*.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: black;
    opacity: 0.8;
    display: none;
}*/

.modal-dialog {
    input {
        @extend .form-control;
    }
}


.load-error {
    margin: 100px 0 60px 0;
}

