extends ../layout

block script
  script.
    const url = new URL(window.location.href);

    if( url.pathname.endsWith('/x/') || url.pathname.endsWith('/_/') ){
      url.pathname = `${url.pathname.slice(0, -3)}/x/${url.hash.substring(1)}`;
      url.hash = '';
    } else {
      url.pathname = url.pathname.replace('::', '');
    }
    
    location.href = url.toString();

block content
  div(style="margin-top: 40vh; text-align: center;") redirecting...
