// fonts
@import "../component/fonts";

// variables, in the right order
@import "variables";
@import "../../../../node_modules/enketo-core/src/sass/formhub/variables";
@import "../../../../node_modules/enketo-core/src/sass/core/variables";

// mixins, in the right order
@import "../../../../node_modules/enketo-core/src/sass/core/mixins";
@import "../../../../node_modules/enketo-core/src/sass/formhub/mixins";
@import "../component/mixins";

// reset
@import "../../../../node_modules/enketo-core/src/sass/core/reset";

// common styles
@import "../component/common";

// utilities
@import "../../../../node_modules/enketo-core/src/sass/core/utilities";

// icons
@import "../component/icons";
.icon-plus:before { content: "Add Another"; font-family: 'OpenSansRegular', Arial, sans-serif; font-size: 15px; }
.icon-minus:before { content: "Remove"; font-family: 'OpenSansRegular', Arial, sans-serif; font-size: 15px; }

// buttons
@import "../component/buttons";

// layout
@import "../../../../node_modules/enketo-core/src/sass/core/layout";
@import "../../../../node_modules/enketo-core/src/sass/core/pages";

// components
//@import "component/side-slider";
@import "../theme-formhub/form_formhub";
@import "../component/form_header";
@import "../component/form_footer";
