extends layout

block style
  link(rel='stylesheet', href=`${basePath}/css/error.css`) 

block content
  h1.error= message
    if code
      span.status-code= t('error.code', {code: code})
  if stack
    pre #{stack}
