@import '../../lib/enketo-core/src/sass/core/fonts';
@import 'components/fonts';
@import '../../lib/enketo-core/src/sass/core/variables';
@import '../../lib/enketo-core/src/sass/core/mixins';
@import '../../lib/enketo-core/src/sass/formhub/mixins';

body {
	@include font-normal;
}

.error {
	margin: 40px 20px 20px 20px;
	padding: 20px;
	border: 1px solid #f27e61;
}
